.text-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  padding: var(--spacing-lg);
  box-sizing: border-box;
}

.text-block__title {
  margin: 0 0 var(--spacing-md) 0;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  color: var(--color-text);
  line-height: var(--line-height-base);
}

.text-block__content {
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--color-text-secondary);
  line-height: var(--line-height-relaxed);
  text-align: left;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
}

